*{
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header{
    padding-top: 15px;
}

.dark-background{
    background-color: #1F2937;
    width: 100%;

}

#title-hero,#logo-hero{
    color: #f9faf8;
}

.title{
    flex-wrap: wrap;
}

.title-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 130px 10px 130px;
    align-items: center;
    align-self: center;
    margin: 80px 0 80px 0; 
}

#title-hero{
    font-size: 48px;
    font-weight: 900;
    width: 350px;
    margin-bottom: 0;
}

.box-links{
    float: right;
    margin-right: 140px;  
}

.link-hero{
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: none;
}

.text-hero{
    font-size: 18px;
    color: #e5e7eb;
    width: 380px;
    margin-top: 0;
    margin-bottom: 5px;
}

.hero-image{
    height: 250px;
    width: 500px;
    display: inline;
}

#logo-hero{
    font-size: 24px;
    display: inline;
    margin-left: 150px;
    
}

.background-botao{
    background-color: #3882f6;
    color: #f9faf8;
    font-size: medium;
    border-color: #3882f6;
    border: 0;
    font-weight: 800;
}

#b1{
    border-radius: 5px;
    width: 110px;
    height: 35px;
}

.informations{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

#information-title{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.informations-blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}

.information-image{
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 10%;
}

.information-image-text{
    word-wrap: wrap;
    width: 150px;
}

.image-text{
    display: flex;
    flex-direction: column;
}

.quote-section{
    background-color: #e5e7eb;
    height: 60vh;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 110px;
}

#quote-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    width: 800px;
    margin-bottom: 0;
    word-wrap: wrap;
}

#quote-name{
    display: flex;
    float: right;
    margin-right: 300px;
    font-size: 22px;
}

.page-end-button{
    display: flex;
    /*justify-content: center;*/ 
    align-items: center; 
    width: 75%;
    height: 27vh;
    border-radius: 10px;
    margin: 110px 15vw 110px 12vw;
}

.text-end{
    display: flexbox;
    flex-direction: row;
    margin: 100px;
    justify-content: left;
}

.button-end{
    border: #f9faf8 2px solid;
    border-radius: 7px;
    margin: 0 60px 0 60px;
    padding: 7px 30px 7px 30px;
    font-weight: bold;
}